nav {
  width: 100%;
  height: 15vh;
  background-color: rgb(128, 234, 128);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

nav > h1 {
  margin: 0px;
  font-size: 32px;
}

.card {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(192, 192, 192);
  border: 1px solid black;
  border-radius: 50px;;
  justify-content: center;
  transition: transform 0.2s linear;
}

.card:hover {
  transform: scale(1.2)
}

.card > img {
  width: 80%;
  border: 1px solid black;
  border-radius: 50px;
  max-height: 70%;
  
}

.cards-container {
  display: flex;
  gap: 35px;
  margin-left: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card > h3 {
  text-align: center;
}

#click-disabled {
  pointer-events: none;
}